[user]
	email = ncwilde43@gmail.com
	name = nιcнolaѕ wιlde
	signingkey = 69FF3D02ABFCD01F328778D5374FA199233281E4
[init]
	defaultBranch = main
[pull]
	rebase = false
[credential]
	useHttpPath = true
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[fetch]
	prune = true
[tag]
	gpgsign = true
[core]
	editor = micro
