.tokens
**/google_account_id
**/installation_id
.gemini/tmp
**/oauth_creds.json
**/.config/micro/buffers
**/.config/tmux/plugins
*.swp
gemini/.gemini/tmp/
gemini/.gemini/settings.json.orig
gemini/.gemini/google_accounts.json
gemini/.gemini/state.json
gemini/.gemini/settings.json
