.tokens
**/google_account_id
**/installation_id
.antigravity/tmp
**/oauth_creds.json
**/.config/micro/buffers
**/.config/tmux/plugins
*.swp
antigravity/.antigravity/tmp/
antigravity/.antigravity/settings.json.orig
antigravity/.antigravity/google_accounts.json
antigravity/.antigravity/state.json
antigravity/.antigravity/settings.json
*.log
antigravity-cli/.gemini/antigravity-cli/mcp_config.json
